#home, #about, #portfolio, #contacts {
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, right bottom, left top, from(#0a0a0a), to(#02070a));
  background: -webkit-linear-gradient(bottom right, #0a0a0a, #02070a);
  background: -o-linear-gradient(bottom right, #0a0a0a, #02070a);
  background: linear-gradient(to top left, #0a0a0a, #02070a);
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#about .container .about_box .about_box_text p, #about .container .about_box .about_box_text h3, #about .container .skills_box .skills_text p {
  line-height: 2em;
  letter-spacing: 0.01em;
  text-align: left;
  color: #fff;
  margin: 10px 0; }

#about .container h2, #portfolio h2, #contacts .form_box h2 {
  width: 100%;
  text-align: center;
  z-index: 2;
  color: #fff;
  font-family: TuesdayNight;
  font-size: 80px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 0.2em; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #000; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #777; }

.menu_btn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 10px;
  width: 30px;
  height: 20px;
  z-index: 2; }
  .menu_btn .menu_btn_center,
  .menu_btn .menu_btn_top,
  .menu_btn .menu_btn_bottom {
    display: block;
    position: absolute;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
  .menu_btn .menu_btn_center {
    width: 100%;
    left: 0; }
  .menu_btn .menu_btn_top {
    width: 100%;
    top: 0;
    right: 0; }
  .menu_btn .menu_btn_bottom {
    width: 100%;
    bottom: 0; }

nav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -200px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999; }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20vh; }
    nav ul li {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-family: Geometria;
        width: 100%;
        padding: 30px; }
        nav ul li a span {
          position: relative; }
        nav ul li a span::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -5px;
          left: 70%;
          right: 70%;
          height: 2px;
          background-color: #fff; }
      nav ul li .active span::after {
        left: 0;
        right: 0; }
      nav ul li a:hover span::after {
        -webkit-animation: 300ms linear forwards lineMove;
          -webkit-animation-animation: 300ms linear forwards lineMove; }

@-webkit-keyframes lineMove {
  100% {
    left: 0;
    right: 0; } }

@keyframes lineMove {
  100% {
    left: 0;
    right: 0; } }

#preloader {
  overflow: hidden;
  background-color: #000;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  visibility: hidden; }
  #preloader .colorlib-load {
    -webkit-animation: 1000ms linear 0s normal none infinite running colorlib-load;
    animation: 1000ms linear 0s normal none infinite running colorlib-load;
    background: transparent none repeat scroll 0 0;
    border-color: #fff #fff #0d283b;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    height: 40px;
    left: calc(50% - 20px);
    position: relative;
    top: calc(50% - 20px);
    width: 40px; }

@-webkit-keyframes colorlib-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes colorlib-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#home {
  background-image: url(../images/background.png); }
  #home .name_box {
    width: 53%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -50px; }
    #home .name_box .name {
      font-family: TuesdayNight;
      color: #fff;
      text-align: center;
      font-size: 180px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      line-height: 1.6em;
      letter-spacing: 0.2em;
      -webkit-animation: neon .1s ease-in-out infinite alternate;
      animation: neon .1s ease-in-out infinite alternate; }
      #home .name_box .name span {
        width: 70%; }
      #home .name_box .name .first_name {
        text-align: left; }
      #home .name_box .name .last_name {
        text-align: right; }
      #home .name_box .name .marg {
        margin-right: 30px; }
    #home .name_box h1 {
      font-weight: 300;
      color: #fff;
      margin-left: 325px;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin: 0;
      margin-top: -50px;
      font-family: GeometriaLight;
      opacity: .5;
      font-size: 34px; }

@-webkit-keyframes neon {
  0% {
    text-shadow: 0 0 16px rgba(202, 228, 225, 0.92), 0 0 40px rgba(10, 242, 242, 0.84), 0 0 22px rgba(10, 242, 242, 0.52), 0 0 31px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92); }
  100% {
    text-shadow: 0 0 16px rgba(202, 228, 225, 0.98), 0 0 40px rgba(10, 242, 242, 0.92), 0 0 22px rgba(10, 242, 242, 0.58), 0 0 32px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2; } }

@keyframes neon {
  0% {
    text-shadow: 0 0 16px rgba(202, 228, 225, 0.92), 0 0 40px rgba(10, 242, 242, 0.84), 0 0 22px rgba(10, 242, 242, 0.52), 0 0 31px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92); }
  100% {
    text-shadow: 0 0 16px rgba(202, 228, 225, 0.98), 0 0 40px rgba(10, 242, 242, 0.92), 0 0 22px rgba(10, 242, 242, 0.58), 0 0 32px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2; } }

#about {
  cursor: url(../images/cursor.png) 15 15, auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Geometria;
  height: 100vh; }
  #about .container {
    width: 900px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    #about .container .about_box {
      z-index: 2;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden; }
      #about .container .about_box .about_box_text {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 50%;
        padding: 3%; }
        #about .container .about_box .about_box_text p, #about .container .about_box .about_box_text h3 {
          -ms-flex-item-align: start;
          align-self: flex-start; }
        #about .container .about_box .about_box_text h3 {
          margin-bottom: 20px; }
        #about .container .about_box .about_box_text .resume_button {
          font-family: Geometria;
          width: 150px;
          height: 30px;
          margin-top: 30px;
          letter-spacing: 3px;
          background-image: url(../images/download.png);
          background-repeat: no-repeat;
          background-position: 10px center;
          background-size: 20px;
          padding: 0 45px;
          border: none;
          border: 1px solid #fff;
          background-color: transparent;
          color: #fff;
          outline: none; }
        #about .container .about_box .about_box_text .resume_button:hover {
          -webkit-box-shadow: 0 0 6px 1px #fff;
          box-shadow: 0 0 6px 1px #fff;
          cursor: url(../images/cursor.png) 15 15, auto; }
      #about .container .about_box .about_box_photo {
        width: 50%; }
        #about .container .about_box .about_box_photo img {
          height: 540px;
          margin-bottom: -4px;
          opacity: .8; }
    #about .container .skills_box {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #about .container .skills_box .skills_text {
        width: 50%;
        padding: 10px 30px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        #about .container .skills_box .skills_text p strong {
          color: #9dc9f2;
          font-weight: normal; }
      #about .container .skills_box .tagCloud {
        width: 50%;
        font-size: 26px;
        color: #fff;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 20px; }

.slider {
  width: 100%;
  height: auto; }

.tagcloud--item {
  width: 50px; }
  .tagcloud--item img {
    width: 100%; }

canvas {
  position: absolute; }

#portfolio {
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 100px;
  height: auto;
  min-height: 100vh; }
  #portfolio h2 {
    margin-bottom: 50px; }
  #portfolio h3 {
    text-align: center;
    font-family: GeometriaLight;
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 20px;
    padding: 0; }
  #portfolio .sites, #portfolio .codeExamples {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 70px;
    position: relative; }
    #portfolio .sites div, #portfolio .codeExamples div {
      height: 270px;
      margin: 20px;
      position: relative;
      opacity: .9;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      #portfolio .sites div h4, #portfolio .codeExamples div h4 {
        color: #fff;
        z-index: 2;
        font-family: GeometriaLight;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        margin-top: -10px;
        opacity: 0; }
      #portfolio .sites div p, #portfolio .codeExamples div p {
        z-index: 2;
        font-family: GeometriaLight;
        font-size: 12px;
        color: #fff;
        margin-bottom: 20px;
        margin-top: 50px;
        opacity: 0;
        text-align: center;
        width: 80%; }
        #portfolio .sites div p span, #portfolio .codeExamples div p span {
          font-weight: 600; }
      #portfolio .sites div a, #portfolio .codeExamples div a {
        border: 1px solid #fff;
        text-decoration: none;
        font-family: Geometria;
        font-size: 14px;
        color: #fff;
        padding: 10px;
        z-index: 2;
        margin-top: 90px;
        opacity: 0; }
      #portfolio .sites div a:hover, #portfolio .codeExamples div a:hover {
        background-color: #fff;
        color: #000; }
      #portfolio .sites div h4, #portfolio .sites div p, #portfolio .sites div a, #portfolio .codeExamples div h4, #portfolio .codeExamples div p, #portfolio .codeExamples div a {
        -webkit-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s; }
      #portfolio .sites div div, #portfolio .codeExamples div div {
        position: absolute;
        margin: 0; }
      #portfolio .sites div .box_shadow, #portfolio .codeExamples div .box_shadow {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.95); }
      #portfolio .sites div .top_loader, #portfolio .codeExamples div .top_loader {
        top: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #fff; }
      #portfolio .sites div .right_loader, #portfolio .codeExamples div .right_loader {
        top: 0;
        right: 0;
        width: 3px;
        height: 0;
        background-color: #fff; }
      #portfolio .sites div .bottom_loader, #portfolio .codeExamples div .bottom_loader {
        bottom: 0;
        right: 0;
        width: 0;
        height: 3px;
        background-color: #fff; }
      #portfolio .sites div .left_loader, #portfolio .codeExamples div .left_loader {
        bottom: 0;
        left: 0;
        width: 3px;
        height: 0;
        background-color: #fff; }
    #portfolio .sites div:hover h4, #portfolio .sites div:hover p, #portfolio .sites div:hover a, #portfolio .codeExamples div:hover h4, #portfolio .codeExamples div:hover p, #portfolio .codeExamples div:hover a {
      opacity: 1;
      margin-top: 10px;
      -webkit-transition-duration: .5s;
      -o-transition-duration: .5s;
      transition-duration: .5s; }
    #portfolio .sites #btnLoadMoreProjects, #portfolio .codeExamples #btnLoadMoreProjects {
      position: absolute;
      bottom: -70px;
      width: 200px;
      left: calc(50% - 100px);
      cursor: pointer;
      border: 1px solid #fff;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      font-family: Geometria;
      font-weight: 900;
      font-size: 14px;
      padding: 10px;
      z-index: 2;
      margin-top: 90px;
      outline: none; }
    #portfolio .sites #btnLoadMoreProjects:hover, #portfolio .codeExamples #btnLoadMoreProjects:hover {
      background-color: #fff;
      color: #000;
      -webkit-transition-duration: .5s;
      -o-transition-duration: .5s;
      transition-duration: .5s; }
    #portfolio .sites b, #portfolio .codeExamples b {
      display: none; }

#contacts {
  background: -webkit-gradient(linear, left top, right bottom, from(#010a12), to(#101d26));
  background: -webkit-linear-gradient(top left, #010a12, #101d26);
  background: -o-linear-gradient(top left, #010a12, #101d26);
  background: linear-gradient(to bottom right, #010a12, #101d26);
  position: relative;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  #contacts > div {
    height: 100%; }
  #contacts .form_box {
    z-index: 2; }
    #contacts .form_box h2 {
      margin-top: 70px; }
    #contacts .form_box #my_form {
      width: 500px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 50px; }
      #contacts .form_box #my_form p {
        border: none;
        margin: 0;
        padding: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative; }
        #contacts .form_box #my_form p span {
          width: 48%;
          position: relative; }
          #contacts .form_box #my_form p span input {
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
        #contacts .form_box #my_form p input, #contacts .form_box #my_form p textarea {
          width: 100%;
          margin-bottom: 20px;
          background-color: #202730;
          border: none;
          outline: none;
          padding: 10px 20px;
          color: #fff;
          font-family: Geometria;
          font-style: italic;
          border-color: #fff; }
        #contacts .form_box #my_form p textarea {
          line-height: 1.5; }
        #contacts .form_box #my_form p label {
          display: block;
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 0;
          height: 1px;
          background-color: #fff;
          -webkit-transition-duration: 1s;
          -o-transition-duration: 1s;
          transition-duration: 1s;
          font-size: 12px;
          color: #c91616;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
        #contacts .form_box #my_form p input:focus + label, #contacts .form_box #my_form p textarea:focus + label {
          width: 100%; }
      #contacts .form_box #my_form button {
        padding: 9px 30px;
        width: 20%;
        margin-left: 80%;
        cursor: pointer;
        font-family: Geometria;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      #contacts .form_box #my_form button:hover {
        background-color: #fff;
        color: #010a12; }
    #contacts .form_box p {
      width: 500px;
      margin: 0 auto;
      font-family: Geometria;
      font-size: 18px;
      color: #fff;
      line-height: 1.5;
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 2px solid #fff; }
    #contacts .form_box .myContacts {
      border-bottom: none;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #contacts .form_box .myContacts img {
        width: 25px;
        vertical-align: top;
        margin-right: 10px; }
      #contacts .form_box .myContacts a {
        display: inline-block;
        width: 25px;
        height: 100%;
        margin-left: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto; }
      #contacts .form_box .myContacts .facebook {
        background-image: url(../images/facebook.png); }
      #contacts .form_box .myContacts .facebook:hover {
        background-image: url(../images/facebook-hover.png); }
      #contacts .form_box .myContacts .github {
        background-image: url(../images/github.png); }
      #contacts .form_box .myContacts .github:hover {
        background-image: url(../images/github-hover.png); }
  #contacts .thank_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    color: #fff;
    font-family: Geometria;
    font-size: 24px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 0; }
    #contacts .thank_box .thank_box_text {
      position: absolute;
      text-align: center;
      width: 400px;
      top: calc(50% - 50px);
      left: calc(50% - 200px); }
    #contacts .thank_box .okButton {
      margin-top: 30px;
      padding: 10px;
      border: none;
      background-color: #fff;
      color: #000;
      cursor: pointer; }
    #contacts .thank_box .okButton:hover {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff; }
